<div class="page-container">
    <h1 style="align-self: center;">Contacts</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">8-913-383-9133</th>
                <th scope="col">mosaleva_natalia@mail.ru</th>
                <th scope="col">Novosibirsk</th>

            </tr>
           

        </tbody>
    </table>
</div>
